<div id="heading">
  <h1 id="header" class=" col-sm-9">Waiter Availability</h1>
</div>
<form id="form" action="/waiter/{{username}}" method="post">

  <div id="output">
    {{output}}
  </div>
  <div id="checkBoxes">
    <table id="table">
      <tbody>
        <thead>
          <input type='checkbox' name="days" value="Sunday" {{#if index.Sunday}}checked{{/if}}>Sunday</input>
          <input type='checkbox' name="days" value="Monday" {{#if index.Monday}}checked{{/if}}>Monday</input>
          <input type='checkbox' name="days" value="Tuesday" {{#if index.Tuesday}}checked{{/if}}>Tuesday</input>
          <input type='checkbox' name="days" value="Wednesday" {{#if index.Wednesday}}checked{{/if}}>Wednesday</input>
          <input type='checkbox' name="days" value="Thursday"  {{#if index.Thursday}}checked{{/if}}>Thursday</input>
          <input type='checkbox' name="days" value="Friday" {{#if index.Friday}}checked{{/if}}>Friday</input>
          <input type='checkbox' name="days" value="Saturday" {{#if index.Saturday}}checked{{/if}}>Saturday</input>
          <br></br>
          <button type='submit' class="btn btn-primary" name="" value='workSchedule'>Submit</button>
        </thead>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='error'>
    {{messages.error}}
  </div>
</form>
