<div id="heading">

</div>
<form class="form-group" id="form" action="/waiter/{{username}}" method="post">


  <div id="output">
    Choose your work schedule {{output}}
  </div>

  <div id="checkBoxes">
    <table id="table">
      <tbody>
        <thead>
          <input type='checkbox' name="days" value="Sunday" {{#if days.Sunday}} checked {{/if}}>Sunday</input>
          <br></br>
          <input type='checkbox' name="days" value="Monday" {{#if days.Monday}} checked {{/if}}>Monday</input>
          <br></br>
          <input type='checkbox' name="days" value="Tuesday" {{#if days.Tuesday}} checked {{/if}}>Tuesday</input>
          <br></br>
          <input type='checkbox' name="days" value="Wednesday" {{#if days.Wednesday}} checked {{/if}}>Wednesday</input>
          <br></br>
          <input type='checkbox' name="days" value="Thursday" {{#if days.Thursday}} checked {{/if}}>Thursday</input>
          <br></br>
          <input type='checkbox' name="days" value="Friday" {{#if days.Friday}} checked {{/if}}>Friday</input>
          <br></br>
          <input type='checkbox' name="days" value="Saturday" {{#if days.Saturday}} checked {{/if}}>Saturday</input>
          <br></br>
          <button type='submit' class="btn btn-primary" name="" value='workSchedule'>Submit</button>
        </thead>
        </tr>
      </tbody>

      <div class='error'>
        {{messages.error}}
      </div>
    </table>
  </div>


</form>
