<form action="/login" method="post">
USERNAME: <input type="text" placeholder="Enter username" name="username"></input>
<br></br>
PASSWORD: <input type="password" placeholder="Enter Password" name="password"></input>
<br></br>

<button class="btn btn-primary" type="submit">login</button>
</form>
