<form action="/register" method="post">
<input type="text" name="username" value="">Name</input>
<br></br>
<input type="email" name="email" value="">Email</input>
<br></br>

<input type="text" name="password" value="">Password</input>
<br></br>

<button type="submit" name="button">Sign In</button>
</form>
