

.days.solid{
  border-style: solid;
}
h1{
  background-color: skyblue;

}

.style1{
  background-color: blue;
  
}
.style2{
  background-color: green;
}
.style3{
  background-color: red;

}




#header{
  margin-top: 5%;
  margin:auto;
width: 100%;
/*text-align: center;


font-family: Lobster;

font-size: 6em;
color: #87a4eb;*/
padding: 1em;
   color: white;
   background-color: black;
   clear: left;
   text-align: center;

}

#table{
  margin-top: 15%;
}
#output{

  margin-bottom: 5%;
    margin-left: 30%;

}
#checkBoxes{
  margin-left: 30%;
}
#daysForm{
  margin-top:auto;
  margin-left: 10%;

}
#landingMsg{
margin-bottom: 90%;
/*margin-left: 30%;*/
}
